.payment-page {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;

    .movie-details {
        margin-bottom: 30px;

        .title {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .info {
            p {
                margin-bottom: 5px;

                span {
                    font-weight: bold;
                }
            }
        }
    }

    .qr-code {
        text-align: center;
        margin-bottom: 30px;

        h3 {
            font-size: 18px;
            margin-bottom: 10px;
        }

        .qr-image {
            width: 200px;
            height: 200px;
            background-color: #ccc;
            margin: 0 auto 10px;
        }
    }

    .total-price {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;

        span {
            color: #f44336;
        }
    }

    .note {
        font-size: 14px;
        color: #666;
    }
}
