.movieDetailContainer {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #1c1c1e; /* Nền đen */
    color: #ffffff; /* Màu chữ trắng */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.moviePoster {
    margin-right: 20px;

    img {
        max-width: 250px;
        height: auto;
        border-radius: 10px; /* Bo tròn góc của ảnh */
    }
}

.movieDetails {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.movieTitle {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
}

.movieGenre {
    color: #9e9e9e; /* Màu chữ xám nhạt */
    margin-bottom: 10px;
}

.movieRating {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 18px;

    .starIcon {
        fill: #ffc107;
        width: 24px;
        height: 24px;
        margin-right: 5px;
    }
}

.movieDescription {
    margin-top: 20px;
    font-size: 18px;
}

.reviewsTitle {
    font-size: 24px;
    margin-top: 20px;
}

.comment {
    margin-top: 20px;

    .reviewsTitle {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .commentList {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .commentItem {
        background-color: #ffffff; /* Slightly different background for each comment */
        padding: 10px;
        border-radius: 8px;
        display: flex;
        flex-direction: row;
        align-items: center;

        img {
            max-width: 50px;
            height: auto;
            border-radius: 50%;
            margin-right: 10px;
        }

        .commentContent {
            flex: 1;
        }

        .commentRating,
        .commentUser {
            font-size: 14px;
            color: #9e9e9e;
        }

        .starIcon {
            fill: #ffc107;
            width: 24px;
            height: 24px;
            margin-right: 5px;
        }
    }

    .commentSeparator {
        border: none;
        border-bottom: 1px solid #3a3a3c;
        margin: 10px 0;
    }
}

.link-showtime {
    margin-top: 20px;
}

.link-showtime a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff; /* Màu nền xanh */
    color: #ffffff; /* Màu chữ trắng */
    text-decoration: none; /* Loại bỏ gạch chân */
    border-radius: 5px; /* Bo tròn góc */
    transition: background-color 0.3s ease; /* Hiệu ứng chuyển đổi màu nền */

    &:hover {
        background-color: #0056b3; /* Màu nền xanh nhạt khi hover */
    }
}

